{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <mwta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <title> PPW jose </title>
  {% block css %}
  {% endblock %}
</head>

<body>
<div class = "topnav">
< A CLASS = "ACTIVE" HREF = "/">Homepage </a>
<a href = "/story1">Story 1</a>
<a href = "/story3">Story 3</a>
<a href="tags/tag_base.asp">HTML base Tag</a>
</body>