<div class="header">
        <a  class="judul"  href="file:///Users/josephineceria/Documents/PPW/story%203/index.html#home">Jose's<br>Blog</a>
        <div class="header-right">
            <a class="active" href="file:///Users/josephineceria/Documents/PPW/story%203/index.html#home">Home</a>
            <a href="https://story1-jose.herokuapp.com/">story 1</a>
            <a href="file:///Users/josephineceria/Documents/PPW/story%203/page5.html">story 3</a>
        </div>
      </div>